/* You can add global styles to this file, and also import other style files */

ul,p,dl,dd,dt,h2,h1{
  -webkit-margin-before:0;
  -webkit-margin-after:0;
  -moz-margin-before:0;
  -moz-margin-after:0;
  -webkit-margin-start:0;
  -moz-margin-start:0;
  -webkit-padding-start:0;
  -moz-padding-start:0;
}
i{
  transform:scale(0.8);
  -webkit-transform:scale(0.8);
  -moz-transform:scale(0.8)
}
textarea{
  resize:none;
}
ul li{
  list-style-type: none;
}
button:focus,button:active:focus,button.active:focus,button.focus,button:active.focus,button.active.focus {outline: none;border-color: transparent;}

a{
  cursor: pointer;
  color:#999;
}
a:hover {
  text-decoration: none;
  opacity: 0.9;
}
a:focus,a:active:focus,a.active:focus,a.focus,a:active.focus,a.active.focus{
  text-decoration: none;
}
body{
  font-family:Arial,Helvetica,sans-serif;font-size:100%;
  overflow-y:scroll;
}
.main_info{
  border-bottom: none;
  padding:0 !important;
}
.main_info h1{
  width:100%;
  height:2.8rem;
  line-height:2.8rem;
  background:#e6e6e6;
  color:#333;
  font-size:0.8rem;
  font-weight:bold;
  text-indent:2rem;
  letter-spacing: 1px;
  margin:0;
}
.table td,.table th{
  text-align: center;
  font-size: 0.7rem;
}
.table > thead > tr > th{
  border-bottom: 1px solid #ddd !important;
}
button{
  border:none;
}
button:hover{
  opacity: 0.9;
}
.clear{
  clear:both;
}
/*rem布局*/
html {
  font-size: 62.5%; /* 10÷16=62.5% */
}
@media only screen and (min-width: 320px){
  html {
    font-size: 80%!important; /* 15.04÷16=94% */
  }
}
@media only screen and (min-width: 481px){
  html {
    font-size: 94%!important; /* 15.04÷16=94% */
  }
}
@media only screen and (min-width: 561px){
  html {
    font-size: 109%!important; /* 17.44÷16=109% */
  }
}
@media only screen and (min-width: 641px){
  html {
    font-size: 125%!important; /* 20÷16=125% */
  }
}
/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */

html {
  line-height: 1.15; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
.mat-sidenav-backdrop{
  z-index: -9999 !important;
}
.mat-sidenav-content{
  overflow: hidden !important;
}
body {
  margin: 0;
  margin: 0;
  overflow-x:hidden;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}


h1 {
  font-size: 2em;
  margin: 0.67em 0;
}


figcaption,
figure,
main { /* 1 */
  display: block;
}


figure {
  margin: 1em 40px;
}


hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}



pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}



a {
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
}


abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}


b,
strong {
  font-weight: inherit;
}



b,
strong {
  font-weight: bolder;
}


code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}


img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}


button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}


button,
input { /* 1 */
  overflow: visible;
}

.table tr td{
  border:none !important;
}
.table tbody tr{
  border-bottom: 1px solid #ddd !important;
}

button,
select { /* 1 */
  text-transform: none;
}



button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* 2 */
}


button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

progress {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}


[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

details, /* 1 */
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}
[hidden] {
  display: none;
}

